<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Phone Validator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89E560A71D5CA84200EF2A45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89E560BB1D5CA84200EF2A45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89E560C61D5CA84200EF2A45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
